/* global styles*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

body {
    background-color: #333;
    color: aliceblue;
}

.developers-container {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0rem;

}

.developer-card {
    margin-top: 0;
    padding: 1rem;
    padding-top: 2rem;
    width: 21rem;
    height: 29rem;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-bottom: rgba(0, 0, 0, 0.2) 2px solid;
    border-radius: 15px;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(34, 34, 34, 0.5);

}

.picContainer {
    display: grid;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #313131;
    color: aliceblue;
    border: 2px solid rgb(47, 47, 47);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 2rem;
}

.about-title {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 2rem;
    color: rgb(230, 229, 229);
    margin-top: 1rem;
    margin-bottom: 1rem;

}
