header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.spacer {
    flex: 1 1 auto;
}

/* Anas */

.mat-toolbar {
    background-color: var(--lighter-primary);
    color: #fff;
}

header {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(142, 0, 147);
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(59, 59, 59, 0.3);

    font-size: 2.2rem;
    line-height: 1;
    text-decoration: none;

}

.brand:hover {
    color: rgb(172, 3, 177);
}

.with-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.accountBtn {
    background-color: var(--purple-primary) !important;
    color: black ;
    color: rgb(232, 230, 231) !important;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header-item{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}



@media (max-width: 768px) {
    .header-item{
        font-size: 0.8rem;
        margin-right: 1rem;
    }
}
