.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.the-form-container {
    background-color: #4f4f50;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 0.4rem;
    padding-right: 4rem;
    padding-left: 4rem;
}


.the-form {
    max-width: 400px;
    margin: 0 auto;
}

.title-div {
    text-align: center;
    margin-bottom: 20px;
}

.form-title {
    color: #333;
    font-size: 2rem;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;

}

.contact-form {
    display: grid;
    grid-gap: 10px;
}

.contact-form {
    display: grid;
    grid-gap: 10px;
}

.form-control {
    width: 20rem;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    outline: none;
    color: #fff;

}

textarea {
    height: 150px;
    resize: vertical;
    background-color: #333;
    outline: none;
    color: #fff;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}


.submit-div {
    text-align: center;
    margin-top: 20px;
}

.submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--purple-primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.submit:hover {
    background-color: #67007c;
}
