<div class="wrapper">
    <div class="side-section">
        <div class="side-section-header">
            <img
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt=""
            />
            <div class="title">Selim</div>
            <div class="subtitle">Pecs</div>
            <div class="location">
                <mat-icon> location_on</mat-icon>
                <span>Balassa Dormitory</span>
            </div>
        </div>
        <div class="side-section-footer">
            <div class="categories">
                <span>CATEGORIES</span>
                <span class="numeric">4</span>
            </div>
            <div class="posts">
                <span>POSTS</span>
                <span class="numeric">2</span>
            </div>
            <div class="comments">
                <span>COMMENTS</span>
                <span class="numeric">1</span>
            </div>
        </div>
    </div>

    <div class="categories-section">
        <div class="categories-section-header">
            <span>CATEGORIES</span>
        </div>
        <div class="categories-list">
            <div class="categorie">
                <button mat-raised-button>
                    <span>1</span>
                    PROGRAMMING
                </button>
            </div>
            <div class="categorie">
                <button mat-raised-button>
                    <span>4</span>
                    FRONTEND
                </button>
            </div>
            <div class="categorie">
                <button mat-raised-button>
                    <span>2</span>
                    WEB-DEV
                </button>
            </div>
        </div>
    </div>
</div>
